@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Montserrat:wght@400;700&display=swap');
/* 
    azul: #1d4ed8 500;
    azuloscuro: #1e3a8a;

    amarillo: #eab308;
*/
/* Fonts para proyecto */
body {
    font-family: 'Montserrat', cursive;
    margin: 0;
}
/* Estilos Navegacion */
.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #1d4fd8bd;
    padding: 1rem;
}
.nav a {
    color: whitesmoke;
    font-size: 1rem;
    text-decoration: none;
    transition: .3s;
}
.nav a:hover { 
    color: #eab308;
    transition-delay: 0s;
}
.nav-icon-menu {
    width: 50px;
}
.nav-icon-menu i{
    color: whitesmoke;  
    cursor: pointer;
    transition: .5s ease-out all;
}
.nav-icon-menu i:hover{
    color: #eab308;
}
/* navegacion menu */
header {
    text-align: center;
    transition-delay: 1s;
}
.header img {
    width: 100%;
}
/* cartelera */
.cartelera {
    text-align: center;
    font-size: 2rem;
    color: white;
    background-color: #1d4ed8;
    width: 35%;
    height: 500px;
    margin: auto;
    border-radius: 12px;
}
.footer {
    width: 100%;
    color: whitesmoke;
    background-color: #1d4ed8;
}
.footer-links {
    display: flex;
}
.footer-links__active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 10px;
}
.footer-copy {
    border-top: whitesmoke solid 1px;
    text-align: center;
}
